body {
    padding: 10px;
    margin: 20px;
    font-family: sans-serif;
    background: linear-gradient(#121212, #212b46);
}

h1 {
    color: rgb(201, 197, 197);
}

h2 {
    color: rgb(201, 197, 197);
}

h3 {
    color: rgb(201, 197, 197);
}